.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Chiều cao header */
  background-color: #282c34; /* Màu nền */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.App-link:hover {
  color: #fff;
}

.App {
  padding-top: 100px; /* Đẩy toàn bộ nội dung xuống dưới header */
}
